language: node_js

node_js:
  - '10'

# Always run two parallel builds: one on mac and one on linux
# the linux build will use wine to be able to build windows and
# linux apps
matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
      services: docker
      language: generic

notifications:
  email: false

# cache some files for faster builds
cache:
  yarn: true
  directories:
    - node_modules
    - $HOME/.cache/electron
    - $HOME/.cache/electron-builder

# add git lfs for large file support
before_script:
  - git lfs pull

# on PRs and merges to master and prod run tests and build the app
script:
  - |
    if [ "$TRAVIS_OS_NAME" == "linux" ]; then
      docker run --rm \
        -v ${PWD}:/project \
        -v ~/.cache/electron:/root/.cache/electron \
        -v ~/.cache/electron-builder:/root/.cache/electron-builder \
        electronuserland/builder:wine \
        /bin/bash -c "yarn --link-duplicates --pure-lockfile"
    fi
api_key:
    secure: Ky7q7oaRF5TXOxRXxAbEPPRwt192H4uPRQsA3Chq7KGGZvZf1c7SChxBV5v7quULmCaAo/EXwuLZ/hfZ76CEw/pvJga1kgIba5lZivWPxOhsL5j5KbqwPYM9S0OxuabPPbCyKg5YA/IsHuZ1XEbqqKlU93kjozSi3b1UtQ19FK8bUqnRUoPHUPIB+ibSrwdFoCqUcipf8YnQS5d9ceyNDLdWJqqoJaaxhXVszW19H6BQo0gyCt9rR4tzDSB8CNsUTWw6WoGycNQP1UylMatzavMDFRJjWzAMTCXK6xwWQLvZnIR8CnN92T0TlKefHGXVBO4aUCa7vETZLXFiKvhibdvv67/psPrK/C2z5VPmE3ZfZ6ySEXkPX7wMhOgo0pn8tePgTiLmNmOvQKfk6kuGz3927O+3DcMqZVwe6DkO/twC2wi9BH0+Tf4XQ6o83GEuQeDe0iCeb8aEjMaDprO0e3phHYDvh7Ed/M4HaPrsAy6A63K61nJ3rayIN5Q5o7yOOmsePvadBfm5uAARaJfPtqjoA96L38caHgcbJaPHK5vi7ITLBphQ9pbt2qaehUEem9vb2/uM+o/mVQsbC7jNdZx6lAN4hxdXO5CErx0pDZeC3XeqtIrzQqc6NgInk5JVM5z102d3IgWwQgswdrdh3vEcv2fw/xi40ftTIIDXN2g=
# only deploy to github on a merge to the prod branch
deploy:
  provider: script
  script: bash deploy.travis.sh
  skip_cleanup: true
  on:
    branch: prod
    
before_cache:
  - rm -rf $HOME/.cache/electron-builder/wine

# only run this script on pull requests and merges into 
# the 'master' and 'prod' branches
branches:
  only:
  - master
  - prod
